<div class='display-4 p-1 text-center font-weight-bold text-uppercase text-white' style='font-family: serif;'>
    {{title}}
</div>

{{#if currentUser}}
<div class='container rounded border border-light mx-auto m-2' style='width:500px'>
    <form class='form' method="POST">
        <div class="form-group font-weight-bold text-white text-uppercase text-center p-2">
            <label for='title'>Title: </label>
            <input type='text' id='title' name='title' class='form-control'>
        </div>

        <div class='form-group font-weight-bold text-white text-uppercase text-center p-2'>
            <label for='content'>Content: </label>
            <textarea type='text' id='content' name='content' class='form-control' rows='4' style='resize:none;'></textarea>
        </div>

        <div class='form-group d-flex justify-content-center text-center'>
            <button type='submit' class='btn btn-outline-light'>Post</button>
        </div>
    </form>
</div>

</div>

{{ else }}
<div class='dispay-5 p-3 text-center font-weight-bold text-white'>
    You need to be logged in to become an admin!<br>
    <button class="btn btn-outline-light d-inline m-2"><a class='font-bold' href='/login'>Log-in</a> </button> or
    <button class="btn btn-outline-light d-inline m-2"><a class='font-bold' href='/signup'>Sign-up</a> </button>
</div>
{{/if}}

<div class='mx-auto p-2 m-2 text-white' style='width:500px'>
    {{#if errors}}
    <ul style='list-style=none;'>
        {{#each errors}}
        <li class='text-danger'>{{msg}}</li>
        {{/each}}
    </ul>
    {{/if}}
</div>

